﻿/*************************************************Master page Begin ***************************************************/
/****ID Selectors*****/
div#MasterFooter {
	
	background: transparent;
	margin: 0 auto;
	padding: 5px;
}

#MasterFooter p {
	font-family: Verdana, sans-serif;
	font-size: 9px;
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
}

#MasterFooter a {
	color: #006699;
	text-decoration: none;
}

#MasterMainContent {
	float: left;
	/*width: 480px;*/
	margin: 0;
	padding: 0 15px;
}

#MasterMainContent p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	color: #333;
	margin-top:1ex;
	margin-bottom:1ex;
	/*margin: 1ex 0;
	padding: 10px;*/
}

#MasterMainContent h1, #MasterMainContent h2, #MasterMainContent h3, #MasterMainContent h4 {
	font-family: Georgia, serif;
}

#MasterMainContent h1 {
	font-size: 1.6em;
	line-height: 1em;
	font-weight: bold;
	color: #f58025;
	margin-bottom: 1em;
	margin-top: .5em;
}

#MasterMainContent h2 {
	font-size: 1.308em;
	font-weight: bold;
	line-height: 1em;
	color: #4FA600;
	margin: .4ex 0;
}

#MasterMainContent h3 {
	font-size: 1em;
	font-weight: bold;
	/*line-height: 1em;*/
	color: #f58025;
	margin-bottom: .25em;
}

#MasterMainContent h4 {
	font-size: 1.1em;
	color: #666;
	margin: 1ex 0 -.2ex 0;
	font-weight: bold;
}

#MasterMainContent ul {
	font-family: Georgia, serif;
	/*font-size: .9em;*/
	margin: 0 0 1.4ex 1em;
}

#MenuMainBackground td
{
	background:#006699;
	height: 60px;
}

#MenuMainBorderBackground td
{
	background:#333333; 
	height: 25px;
	border-top:#ffffff solid 1px;
	border-bottom:#333333 solid 2px;
}

/*#MenuMainBorderBackground a
{
	color:white;
}*/

#MenuMainFooterTop td
{
	background-image:url(/images/layout/bg_grass.gif);
	color:#FFFFFF;
	height: 54px;
}

#MenuMainFooter td
{
	background:#333333 url(/images/layout/bg_grass.gif) 0 0 repeat-x;
	color:#FFFFFF;
	margin-top: 40px;
	padding: 60px 0 60px 0;
}

.masterChildContentWidth{
	width:800px;
}

.masterMainMenu ul {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.masterMainMenu li {
	float: left;
	margin: 0;
	padding: 0;
}

.masterMainMenu li a:link, .masterMainMenu li a:visited {
	font-family: Verdana, sans serif;
	font-size: 11px;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 15px 15px 0 15px;
	margin-right: 10px;
	/*line-height: 0px;*/
	border: none;
}

.masterMainMenu li a:hover, .masterMainMenu li a:active {
	color: #f8b449;
	background-position: left top;
}

.masterMainMenu li a.current {
	margin-top: -5px;
	height: 30px;
	color: #f8b449;
	line-height: 25px;
}

.masterMainMenu li a.current: hover {
	cursor: default;
}

/*************************************************Master page End ***************************************************/

/****ID Selectors*****/
#AdminCollectorAssociations
{
    height:100px;
    overflow: auto; 
}

#AdminCollectorDataContact
{
    height:212px;
    overflow: auto; 
}

#AdminCollectorDataItems
{
    height:100px;
    overflow: auto; 
}

#AdminHelpImageList
{
    height:110px;
    width:420px;
    overflow: auto; 
}

#AdminHelpList
{
    width:180px;
    height:407px;
    overflow: auto; 
}

#AdminMainMenu
{
 /*   background-color:#F0F8FF;
    border-right:double 3px #0B57A3;
    border-top:solid 1px #0B57A3;*/
    width:170px;
    height:600px;
    overflow: auto; 
}

#AdminMaterialList
{
    width:180px;
    height:410px;
    overflow: auto; 
}

#AdminMaterialAssociation
{
    height:152px;
    overflow: auto; 
}

#AdminMunicipalityLinks
{
    height:85px;
    overflow: auto; 
}

#AdminPageLinks
{
    height:212px;
    overflow: auto; 
}

#AdminShippingServicesContainer
{
    background-color:#F0F8FF;
    height:300px;
    overflow: auto; 
    border-top: solid 1px #0B57A3;
    border-left: dotted 1px #0B57A3;
    border-right: dotted 1px #0B57A3;
    border-bottom: dotted 1px #0B57A3;
}

#AdminShipmentList
{
    /*border-bottom:solid 1px #0B57A3;*/
    border-top:solid 1px #0B57A3;
    height:420px;
    overflow: auto; 
}

#AdminShipmentListTable
{
    font-size:14px;
}

#AdminSiteUerRoles
{
    height:55px;
    overflow: auto; 
}

#AdminMunicipalityPlanDataEntryList
{
    height:340px;
    overflow: auto; 
}

#CollectorProductListContainer
{
    height:335px;
    overflow: auto; 
}

#CollectorReceivableProducts
{
    background-color:#F0F8FF;
    color:#0B57A3;
    width:150px;
    border: solid 1px #0B57A3;
    text-align:center;
}

#CollectorReceivedListContainer
{
    height:300px;
    overflow: auto; 
}

#CollectorShipment
{
    height:318px;
    width:400px;
}

#CollectorStatistics
{
    height:318px;
    overflow: auto; 
}

#ConsumerLocationListContainer
{
    height:346px;
    overflow: auto; 
}

#ConsumerLocationMapContainer
{
    height:375px;
    /*width:450px;*/
    width:100%;
}

#ManufacturerStatistics
{
    height:380px;
    overflow: auto; 
}

#RecycleStartLink
{
    position:static;
    float:right;
    width:200px;
}

#TransporterPickupList
{
    background-color:#F0F8FF;
    border-bottom:solid 1px #0B57A3;
    border-top:solid 1px #0B57A3;
    height:320px;
    overflow: auto; 
}

#TransporterPickupTable
{
    width:555px; 
}

#TransporterStatistics
{
    height:380px;
    overflow: auto; 
}

/****Type Selectors*****/
p, h1, h2, h3, h4, h5, h6, li {
	/*margin: 1ex 1em;*/
}

a
{
    text-decoration:none;
    color:#0B57A3;
}
a:hover
{
    text-decoration:underline;
}
a:visited
{
    color:#0B57A3;
}

body 
{
	font-family: Verdana, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
    /*font-family:@Arial Unicode MS;
    font-size:15px;*/
}

div.AdminFindList4
{
	background-color:White;
	position:absolute;
	z-index:1;
	opacity:0.93;
	filter:alpha(opacity=93);
	border:solid 1px #0B57A3;
	
    width:350px;
    height:125px;
    overflow: auto; 
}

div.AdminUserList
{
    height:130px;
    overflow: auto; 
}

table.AdminMenu
{
   /* vertical-align:top;*/
}

table.AdminMenu th{
	color:#2F81C4;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 15px;
    cursor:pointer;
	cursor:hand;
	padding-right:5px;
	padding-left:3px;
	padding-top: 8px;
	text-align:left;
	font-weight:normal;
	border-bottom:1px dotted #2F81C4;
}

table.AdminMenu td {
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
}

table.AdminMenu thead td 
{
	font-size: 15px;
	color:#000000;
	text-align:center;
	/*padding-top:10px;*/
}
table.AdminMenu tbody td {
	font-size: 13px;
    cursor:pointer;
	cursor:hand;
	padding-right:5px;
	padding-left:12px;
}

div.affiliateSummary
{
    height:380px;
    overflow: auto; 
}

table.AffiliateSummaryContainer
{
    width:725px;
}

div.affiliateReports
{
    height:35px;
    overflow: auto; 
}

img.border{
	border:#999999 solid 1px;
	padding:1px;
}

div.closeDiv{
	position:absolute;
	top:2;
	right:8px;
	background-image: url(/images/layout/close.gif);
	background-repeat: no-repeat;
	background-position: right top;	
	width:44px;
	height:19px;
}

table.Collector
{
    background-color:#F0F8FF;
}

table.Collector thead
{
    font-size:18px;
}

table.Collector th
{
    text-align:center;
    background-color:#FFFFFF;
    border-left:solid 1px #0B57A3;
    border-bottom:solid 1px #0B57A3;
}

table.Collector td
{
    text-align:center;
    padding-left:10px;
    padding-right:10px;
}

th.Collector
{
    border-right:solid 1px #0B57A3;
}

tr.Collector td
{
    border-bottom:solid 1px #0B57A3;
}

div.eventCalendar {
	
    width:900px;
    height:500px;
    overflow: auto; 
}

div.eventCalendarWindow
{
    width:300px;
    height:300px;
}

div.dynamicSelect
{
    /*overflow: auto; 
	height:180px;*/
	position:absolute;
	z-index:1;
	opacity:0.98;
	filter:alpha(opacity=98);
	border:#0B57A3 1px solid;
	background-color:#F0F8FF;
	font-size:9pt;
	overflow:visible;
}

tr.dynamicSelect td
{
    padding-left:3px;
    padding-right:3px;
}

div.floatLeft
{
    position:relative;
    float:left;
}

span.floatRight
{
    text-align:right;
    float:right;
}

div.floatRight
{
    position:relative;
    float:right;
}

form
{
    padding: 0px;
    margin:0px;
}

table.height3
{
    height:380px;
}

div.helpWindow
{
    width:300px;
}

div.overflow
{
    overflow: auto; 
}

legend
{
    white-space:normal;
}

div.manufacturerInvoiceList
{
    height:305px;
    overflow: auto; 
}

table.Transporter
{
    font-size:14px;
}

table.Transporter td
{
    border-bottom:solid 1px #0B57A3;
}

th.Transporter
{
    border-left:solid 1px #0B57A3;
}

table.width4
{
    width:400px;
}

table.width5
{
    width:550px;
}

table.width6
{
    width:800px;
}

/****Other Selectors*****/


.bgAliceBlue{
    background-color:#F0F8FF;
}

.bgDarkBlue{
    background-color:#2E8AB8;
}

.bgLightRed
{
    background-color:#FFD2D2;
}

.bgWhite
{
    background-color:White;
}

.bottom
{
    vertical-align:bottom;
}

.borderBlue{
	border:solid 1px #0B57A3;
}

.borderGrayBottom, .borderGrayBottom td
{
	border-bottom:solid 1px #CCCCCC;
}

.borderGrayRight, .borderGrayRight td
{
	border-right:solid 1px #CCCCCC;
}

.borderBlackBottom2, .borderBlackBottom2 td
{
	border-bottom:solid 2px #000000;
}

.borderBlackTop, .borderBlackTop td
{
	border-Top:solid 1px #000000;
}

.borderBlueBottom,.borderBlueBottom td,.borderBlueBottom th
{
	border-bottom:solid 1px #0B57A3;
}

.borderBlueBottom1,tr.borderBlueBottom1 td,tr.borderBlueBottom1 th
{
    border-bottom:dotted 1px #0B57A3;
}

.borderBlueLeft,.borderBlueLeft td,.borderBlueLeft th
{
	border-left:solid 1px #0B57A3;
}

.borderBlueRight,tr.borderBlueRight td,.borderBlueRight th
{
	border-right:solid 1px #0B57A3;
}

.borderBlueRight1,tr.borderBlueRight1 td
{
	border-right:dotted 1px #0B57A3;
}

.borderBlueTop, tr.borderBlueTop td, tr.borderBlueTop th
{
	border-top:solid 1px #0B57A3;
}

.borderBlueTop1,.borderBlueTop1 td{
	border-top:dotted 1px #0B57A3;
}

.calendarContainer
{
    width:300px;
}

.calendarCell
{
    border: solid 1px #DDDDDD;
}

.calendarHeaderCell
{
    border: solid 1px #DDDDDD;
    background-color:#2E8AB8;
    font-weight:bold;    
    color:White;
}

.center
{
    text-align:center;
}

.clickable, .clickable img, .clickable td, img.clickable
{
    cursor:pointer;
    cursor:hand;
}

.dataInput1 input, input.dataInput1
{
    width:15px;
}
 
.dataInput1 select,select.dataInput1 , td.dataInput1, .dataInput1 td
{
    width:20px;
}

.dataInput2 input, input.dataInput2
{
    width:70px;
}
 
.dataInput2 select,select.dataInput2 , td.dataInput2, .dataInput2 td
{
    width:75px;
}

.dataInput3 input, input.dataInput3
{
    width:140px;
}
 
.dataInput3 select,select.dataInput3 , td.dataInput3, .dataInput3 td
{
    width:145px;
}

.dataInput4 input,input.dataInput4
{
    width:200px;
}

.dataInput4 select, select.dataInput4 /*,.dataInput4 td, td.dataInput4*/
{
    width:205px;
}

.dataInput5 input,input.dataInput5
{
    width:250px;
}

.dataInput5 select, select.dataInput5 /*,.dataInput5 td, td.dataInput5*/
{
    width:255px;
}

div.floatingWindow
{
	position:absolute;
	z-index:1;
	opacity:0.95;
	filter:alpha(opacity=95);
	border:#444444 2px solid;
	/*background-color:#FFFFFF;*/
	font-size:12px;
}

.floatingWindow table
{
    background-color:#FFFFFF;
}


.floatingWindow td
{
	text-align:left;
    color:#000000;
}

.floatingWindow tr
{
    text-align:left;
}

.floatingWindow th
{
    /*color:#FFFFFF;
    background-color:#30697D;*/
    color:#30697D;
    background-color:#F0F8FF;
    font-weight:bold;
    text-align:left;
    cursor:pointer;
    cursor:hand;
    padding-bottom:5px;
	font-size:14px;
}

.floatingWindow th span
{
	position:absolute;
	top:2;
	right:8px;
    width:10px;
}

.fontBlue
{
    color:#0B57A3;
}

.fontBold
{
    font-weight:bold;
}

.fontGreen
{
    color:#009900;
}

.fontOrange
{
	color: #f58025;
}

.fontRed
{
    color:Red;
}

.fontSize1
{
    font-size:11px;
}

.fontSize2
{
    font-size:12px;
}

.fontSize3
{
    font-size:13px;
}

.fontSize4
{
    font-size:18px;
}

.fontSize5
{
    font-size:24px;
}

.help
{
    cursor:pointer;
    cursor:hand;
    vertical-align:middle;
    white-space:nowrap;
}

.hidden
{
    display:none;
}

.left
{
    text-align:left
}

.middle
{
    vertical-align:middle;
}

.noWrap, tr.noWrap td
{
    white-space:nowrap;
}

.padBottom1, tr.padBottom1 td, .padVert1, tr.padVert1 td
{
    padding-bottom:2px;
}

.padBottom4, tr.padBottom4 td, .padVert4, tr.padVert4 td
{
    padding-bottom:10px;
}

.padBottom2, tr.padBottom2 td, .padVert2, .pad2
{
    padding-bottom:5px;
}

.padLeft4 td,.padLeft4 th,.padLeft4, .padHoriz4
{
    padding-Left:10px;
}

.padLeft5 td,.padLeft5, .padHoriz5
{
    padding-Left:25px;
}

.padRight4 td,.padRight4, .padHoriz4
{
    padding-Right:10px;
}

.padRight5 td,.padRight5, .padHoriz5
{
    padding-Right:25px;
}

.padLeft2 td,.padLeft2, .padHoriz2, .pad2, tr.padHoriz2 td
{
    padding-Left:5px;
}

.padRight2 td,.padRight2, .padHoriz2, .pad2, tr.padHoriz2 td
{
    padding-Right:5px;
}

.padTop4, tr.padTop4 td, .padVert4, tr.padVert4 td
{
    padding-top:10px;
}

.padTop2, tr.padTop2 td, .padVert2, .pad2
{
    padding-top:5px;
}

.right
{
    text-align:right;
}
.sortText
{
    color:Red;
    font-family:@Arial Unicode MS;
    font-size:11px;
    cursor:pointer;
    cursor:hand;
}

.top, tr.top td
{
    vertical-align:top;
}

.transporterCalendar
{
	background-color:White;
	position:absolute;
	z-index:1;
	opacity:0.98;
	filter:alpha(opacity=98);
	border:solid 1px #0B57A3;
}

.underline
{
    text-decoration:underline;
}