body {
	margin: 0;
	padding: 0;
	background: #33506E url(../images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #7F7F81;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #0072bc;
}

h1 {
	font-size: 2em;
	padding:20px 0 10px 30px;
	margin:0;
}
.admin h1.heading{
  color: Gray;padding-top:6px;padding-left:0px;
}


h2 {
	font-size: 2.4em;
	
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 120%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #FF9900;
}
a:visited {
	text-decoration: none;
	color: #FF9900;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #E1F1F6;
}

img.alignleft,
img.al {
	float: left;
	margin-right: 25px;
}

img.alignright,
img.ar
 {
	float: right;
	
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	width:980px;
}

/* Header */

#header {
	width:100%;
	height: 100px;
}
#header1 {
	width:100%;
	height: 100px;
}

/* Logo */

#logo {
	float: left;
	height: 100px;
	margin: 0;
	padding: 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 0px;
	letter-spacing: -1px;
	text-transform: lowercase;
	text-shadow: #808080 -1px 1px 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 64px;
}

#logo p {
	margin: 0;
	padding: 30px 0 0 34px;
	text-shadow: #808080 -1px 1px 2px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 300px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

fieldset {
	margin: 0;
	padding: 3px;
	margin-bottom:10px;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}
.head-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}


#search-submit {
	display: none;
}

/* Menu */

#menu, #menu1 {
	height: 30px;
	margin: 0 auto;
	padding: 0;
	background: url(../images/menus/topnav_middle.png) repeat-x left top; margin-left:8px; margin-right:8px;
}

#menu ul.sf-menu  {
	margin: 0;
	padding:0px;
	list-style: none;
	line-height: normal;
	height:30px;
	background: url(../images/menus/topnav_right.png) no-repeat right top; margin-right:-8px;
	
}
#menu ul.sf-menu li.first{background: url(../images/menus/topnav_left.png) no-repeat left top; height:30px; padding-left:20px; margin-left:-8px;}
#menu li {
	float: left;
	
}
#menu a {
	display: block;
	margin-right: 1px;
	padding:7px 5px;
	text-decoration: none;
	/**text-shadow: #8A5608 -1px 1px 1px;**/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}
#menu .first a,
#menu .line{ background:url(../images/Menus/menuline.gif) no-repeat right top; }

#menu .current_page_item a {
}

#menu a:hover {
	text-decoration: italic;
}
#menu li ui li a{ color:#037c84;}
/*For Simple Master*/
.menuLeft {
	width: 7px;
	height:30px;
	background-image: url(../images/menus/topnav_left.png);
	background-position:left top;
}
.menuCenter 
{
	height:30px;
	width:980px;
	background: url(../images/menus/topnav_middle.png) repeat-x left top;
}
.menuRight 
{
	width: 8px;
	height:30px;
	background-image: url(../images/menus/topnav_right.png);
	background-position:right top;
}



#splash {
	width: 1250px;
	height: 260px;
	margin: 0px auto;
	background: url(../images/img05.jpg) no-repeat left top;
}

/*logo bar*/
#clients{height:54px;
	width:952px;
	padding-left:7px;
	background:url(images/logobar_bg.jpg) repeat-x 0 0;
	clear:both;}	
#clients a{
	width:79px;
	height:54px;
	display:block;
	}
#clients a span.hover{	position: absolute;
	display: block;
	width:79px;
	height:54px;}
.sony, .sony span.hover {
	background-image:url(../images/clientlogo/sony.png);
}
.acer,.acer span.hover {
	background-image:url(../images/clientlogo/acer.png);
}
.viewsonic, .viewsonic span.hover {
	background-image:url(../images/clientlogo/viewsonic.png);
}
.nec, .nec span.hover {
	background-image:url(../images/clientlogo/nec.png);
}
.lg, .lg span.hover {
	background-image:url(../images/clientlogo/lg.png);
}
.gateway, .gateway span.hover{
	background-image:url(../images/clientlogo/gateway.png);
}
.optiquest, .optiquest span.hover {
	background-image:url(../images/clientlogo/optiquest.png);
}
.emachines, .emachines span.hover {
	background-image:url(../images/clientlogo/emachines.png);
}
.asi, .asi span.hover{
	background-image:url(../images/clientlogo/asi.png);
}
.aiwa, .aiwa span.hover {
	background-image:url(../images/clientlogo/aiwa.png);
}
.westinghouse, .westinghouse span.hover {
	background-image:url(../images/clientlogo/westinghouse.png);
}
.envision, .envision span.hover {
	background-image:url(../images/clientlogo/envision.png);
}
.craig, .craig a span.hover {
	background-image:url(../images/clientlogo/Craig.png);
	//height:34px;
}
.cvision, .cvision span.hover{
    background-image:url(../images/clientlogo/cvision.png);
}
.pantech, .pantech span.hover{
    background-image:url(../images/clientlogo/Pantech.png);
}
.onkyo, .onkyo span.hover
{
    background-image:url(../images/clientlogo/Onkyo.png);
}
.planar, .planar span.hover
{
    background-image:url(../images/clientlogo/Planar.png);
}
.affinity, .affinity span.hover
{
    background-image:url(../images/clientlogo/Affinity.png);
}
.kcpi, .kcpi span.hover
{
    background-image:url(../images/clientlogo/KCPI.png);
}
.haier, .haier span.hover
{
    background-image:url(../images/clientlogo/Haier.png);
}
#clients a{
	background-position:top;
}
#clients a span.hover,#clients a:hover{	
	background-position:bottom;}
	
/* Page */

#page {
	margin: 0 auto;
	min-height:620px;
	padding: 0;
	background:#FFF;
	overflow:hidden;
}
#page .admin{ padding:15px 25px 30px 35px;}
#page1 {
	margin: 0 auto;
	
	padding: 0;
	background: url(../images/img03.jpg) no-repeat left top #FFF;
}

#page-bgtop {

}

.fadeshow {
		float: left;
}

#page-bgbtm {
	margin: 0px;
	padding: 10px 30px 0px 10px;
}
filedset legend{ font-size:1.3em; color: #0072BC;}
/* Content */

#content {
	float: left;
	width: 640px;
	padding: 0px 50px 0px 0px;
	background:url(../images/pagesidebg.gif) no-repeat top right;
}

#homecontent {
	padding: 0px 15px 0px 0px;
}

a.readmore{
	display:block;
	height:20px;
	width:36px;
	margin:5px 0 0 0;
	text-indent:-99999px;
	background:url(../images/readmore.png) no-repeat 0 0;
	}
a.readmore:hover{
	background:url(../images/readmore.png) no-repeat 0 -20px;
	}
	
#slides{ position:relative; clear:both; padding-left:10px; padding-top:10px; overflow:hidden; height:250px;  width:960px;}
.slides_container {
    height:260px;
	clear:both;
  }
.slides_container div {
    height:260px;
    display:block;
	width:980px;
  }
.pagination{ display:none;}
.post {
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left:30px;
	border-bottom: 1px solid #EFF4F5;
}

.post .title {
	letter-spacing: -1px;
	font-size:2em;
}
h2.title{ background:url(../images/header001.jpg) no-repeat right center; height:50px;  padding-top:60px; padding-bottom:20px; color:#fff; padding-left:30px; line-height:2.2em;}
.about h2.title{ background:url(../images/content-about.jpg) no-repeat right center; padding-bottom:20px; color:#000;}
.mfs h2.title{ background:url(../images/header003.jpg) no-repeat right center; height:50px;  color:#fff; }
.rs h2.title{ background:url(../images/header004.jpg) no-repeat right center; height:50px;   color:#fff; }
.post .title a {
	color: #1D4267;
	border: none;
}
.pageimg{ margin:10px; border:2px solid #eee; margin-top:30px; margin-left:0;}
.post .meta {
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}
.post h2 {
		letter-spacing: -1px;
	font-size: 2.4em;
	color: #0072bc;
	margin-bottom: 20px;
}
.post h3 {
		letter-spacing: -1px;
	font-size: 18px;
	color: #0072bc;
	margin-bottom: 20px;
}

.post h4 {
	margin-bottom: 10px;
	letter-spacing: 0px;
	font-size: 30px;
	font-weight: bold;
	color: #F90;
}


.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
	padding: 25px 0px 0px 10px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
	font-weight:bold;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sidebar li li {
	margin: 15px 0px;
	padding-left: 15px;
	line-height: 120%;
    background: url(../images/img07.jpg) no-repeat left 5px;
/*	border-bottom: 1px solid #EFF4F5;*/
}

#sidebar ul li li {
	padding-left: 10px;
	line-height: 120%;
	
/*	background: url(../images/img07.jpg) no-repeat left 14px;
	border-bottom: 1px solid #EFF4F5;*/
/*	background: url(../images/go.jpg) no-repeat left 4px;*/
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

/*#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 10px 0 0 45px;
	background: url(../images/img08.jpg) no-repeat left top;
	letter-spacing: -1px;
	font-size: 18px;
	color: #336699;
}*/

#sidebar h2 {
	font-size:14px;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 0px;
	text-align: left;
}

#sidebar a {
	border: none;
	color: #7F7F81;
}
#sidebar h2 a{ color:#0072bc;}
#sidebar div{ padding-left:32px;}
#sidebar .manusolu { background:url(../images/icon_func_24x24.jpg) no-repeat left top;}
#sidebar .recysolu{ background:url(../images/icon_network_24x24.jpg) no-repeat left top;}
#sidebar .conssolu{ background:url(../images/icon_home_24x24.jpg) no-repeat left top;}
#sidebar .twitter{ background:url(../images/Twitter_24x24.png) no-repeat left top; padding-bottom:10px; padding-top:3px;}
#sidebar .facebook{ background:url(../images/FaceBook_24x24.png) no-repeat left top;padding-bottom:10px;padding-top:3px;}
#sidebar a:hover {
	text-decoration: underline;
	color: #FF9900;
}
#sidebar .news {
font-size: 11px;

}
#sidebar .news a {
color: #ff9900;

}

/*#sidebar li li {
	padding-left: 15px;
	line-height: 35px;
	background: url(../images/img07.jpg) no-repeat left 14px;
	border-bottom: 1px solid #EFF4F5;
}*/

#sidebar h3 {
	height: 38px;
	margin-bottom: 20px;
	padding: 10px 0 0 15px;
	letter-spacing: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #1D4267;
}

#sidebar h4 {
	margin-bottom: 10px;
	letter-spacing: 0px;
	font-size: 30px;
	font-weight: bold;
	color: #F90;
	text-align: center;
}

/* Center Left */

#centerleft {
	display:inline;
	float:left;
	width: 220px;
}

#centerleft ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#centerleft li {
	margin: 0;
	padding: 5px;
}


#centerleft li {
	line-height: 120%;
	border-bottom: 1px solid #EFF4F5;
}


#centerleft h2 {
	height: 38px;
	letter-spacing: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #0072bc;
}
#centerleft .w1{ background:url(../images/icon_left01.jpg) no-repeat left top; padding-left:40px; margin-bottom:20px;}
#centerleft .w2{ background:url(../images/icon_left02.jpg) no-repeat left top; padding-left:40px; margin-bottom:20px;}
#centerleft .w3{ background:url(../images/recycle_24x24.png) no-repeat left top;  padding-left:40px; margin-bottom:20px;}
#centerleft p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
}

#centerleft a {
	border: none;
	color: #0072bc;
}

#centerleft a:hover {
	text-decoration: underline;
	color: #FF9900;
}
#centerleft .news {
font-size: 11px;

}
#centerleft .news a {
color: #0072bc;

}
/* Center Middle */

#centermiddle {
	display:inline;
	float:left;
	width: 444px;
	background-image: url(../images/centerbg.jpg);
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: center top;
}
#centermiddle h3{ padding:20px 0 10px 20px;}
#centermiddle ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#centermiddle li {
	margin: 0;
	padding: 0;
}

#centermiddle li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#centermiddle li li {
	margin: 15px 0px;
	padding-left: 15px;
	line-height: 120%;
background: url(../images/img07.jpg) no-repeat left 5px;
/*		border-bottom: 1px solid #EFF4F5;*/
}

#centermiddle li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#centermiddle h2 {
	height: 38px;
	padding-top: 10px;
	margin-left: 16px;
	letter-spacing: 0px;
	font-size: 22px;
	font-weight: bold;
	color: #0072bc;
}
#centermiddle .w1{
	background:url(../images/icon_home.jpg) no-repeat left top;
	 padding-left:80px;
}
#centermiddle .w2{
	background: url(../images/icon_func.jpg) no-repeat left top;
	 padding-left:80px;
}
#centermiddle .w3{
	background: url(../images/icon_network.jpg) no-repeat left top;
	 padding-left:80px;
}

#centermiddle p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#centermiddle a {
	border: none;
	color: #7F7F81;
}
#centermiddle h2 a {
	border: none;
	color: #0072bc;
}
#centermiddle a:hover {
	text-decoration: underline;
	color: #FF9900;
}
#centermiddle .news {
font-size: 11px;

}
#centermiddle .news a {
color: #ff9900;

}

/* Center Right */

#centerright {
	display:inline;
	float:left;
	width: 220px;
	padding: 10px 0px 0px 0px;
}

#centerright ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#centerright li {
	margin: 0;
	padding: 0;
}

#centerright li{
	padding-left: 1px;
	line-height: 25px;
	border-bottom: 1px solid #e6e6e6;
}

#centerright h2 {
	height: 38px;
	padding-top:10px;
	letter-spacing: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #0072bc;
}
#centermiddle h3 a:link{ color: #0072bc;}
#centermiddle h3 a:visited{ color: #0072bc;}
#centerright .misson{ background:url(../images/recycle.png) no-repeat left top; padding-left:36px; margin-bottom:20px;}
#centerright .w2{ background:url(../images/twitter_32x32.png) no-repeat left top; padding-left:36px; margin-bottom:20px;}
#centerright .w3{ background:url(../images/feed_32x32.png) no-repeat left top; padding-left:36px;}
#centerright h3 {
	height: 38px;
	margin-bottom: 20px;
	margin-left: 22px;
	padding: 10px 0 0 45px;
	background: url(../images/img08.jpg) no-repeat left top;
	letter-spacing: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #1D4267;
}

#centerright h4 {
	margin-bottom: 10px;
	letter-spacing: 0px;
	font-size: 30px;
	font-weight: bold;
	color: #F90;
	text-align: center;
}
#centerright p {
	margin: 0 0px;
	text-align: left;
}

#centerright a {
	border: none;
	color: #7F7F81;
}

#centerright a:hover {
	text-decoration: underline;
	color: #FF9900;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer,.footer {
	height: 55px;
/*	background: #EAEAEA url(../images/img04.jpg) no-repeat left top;*/
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}

#footer p,.footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

.footer a,
.footer a:visited {
	color: #FFFFFF;
}

/***New Menu ***/
#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 12px 0px 0px 0px;
	padding: 0px 15px 0px 15px;
	width: auto;
	color: #336699;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	
		color: #ff9900}
#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #eeeeee
/*	border: 1px solid #cccccc;*/
	}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0px 0px -10px 0px;
		padding: 5px 10px 0px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #eeeeee;
		color: #336699;
		font: 11px arial}

	#sddm div a:hover
	{	background: #dddddd;
		color: #FFF}


#accordion h6{
    font-family:Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-weight:bold;
 
    
}
#accordion div{
    display:none;
}
#accordion div ul {
	padding-left:30px;
}

body {
	font: 12px/16px Arial, Helvetica, sans-serif;
}
#fileQueue {
	width: 400px;
	height: 300px;
	overflow: auto;
	border: 1px solid #E5E5E5;
	margin-bottom: 10px;
	
}
#mycarousel li{ list-style:none; float:left;}

/* Login */
.mainbgLogin
{
	background: url(../images/Login/bg_loginpage.png) repeat left top;
	padding:10px;
	height:494px;
}
.mainbg
{
	background: url(../images/bg_content1.png) repeat left top;
	padding:10px;
	height:494px;
	background-color:#F0F3EB;
	/*background-color : green\9; /* IE8 and below */  
	/* *background-color : yellow; /* IE7 and below */  
	/* _background-color : orange; /* IE6 */
}
.loginTab
{
	background: url(../images/Login/top_logintab.png) no-repeat left top;
	height:43px;
	}
.loginBox
{
	background: url(../images/Login/bg_loginbox.png) no-repeat left top;
	border-left:solid 5px #3F91B9;
	border-right:solid 5px #3F91B9;
	border-top:solid 5px #3F91B9;
	width:400px;
	height:243px;
	}
.loginLeftBottom
{
	background: url(../images/Login/loginBottom.jpg) no-repeat left top;
	height:24px;
	}
.loginRightBottom
{
	background: url(../images/Login/loginBottom.jpg) no-repeat right top;
	height:24px;
	}
.bluebtn{ border:0; background-color:#56a3cd; padding:3px; color:#fff;}
.dol .ui-button{ padding-top:0; font-size:1em; padding:2px;}
.dol .ui-button span.ui-button-text{ padding:0px; margin:0px; display:inline;}
