﻿@model Costco.BLL.ViewModels.SalvageSalesOrderViewModel
@{
    Layout = "~/Views/Shared/Costco.cshtml";
    <div class="admin">
    <h1 class="heading">Salvage Sales Order Id: @Model.SalesOrder.Id </h1>
        <table cellpadding="3" style="width:100%;" border="0">
            <tr>
                <td style="padding-left: 130px;" colspan="2"></td>
            </tr>
            <tr>
                <td align="left">cos
                    <fieldset style="width: 98%">
                        <legend><b>Sales Info</b></legend>
                        <table width="100%">
                            <tr>
                                <td width="50%">
                                    <table>
                                        <tr>
                                            <td id="tdCompany">
                                                @{ if (@Model.SalesOrder.SoldToAffiliateId == null)
                                                 {
                                                    <text>Buyer is not set!</text>
                                                 }
                                                 else
                                                 {
                                                    <text>@Model.SalesOrder.SoldToName</text>
                                                 }
                                                }

                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="tdAddress">
                                                @{ if (@Model.SalesOrder.SoldToAffiliateId == null)
                                                 {
                                                    <text>&nbsp;</text>
                                                 }
                                                 else
                                                 {
                                                    <text>@Model.SalesOrder.SoldToAddress</text>
                                                 }
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="tdStateCityZip">
                                                @{ if (@Model.SalesOrder.SoldToAffiliateId == null)
                                                 {
                                                    <text>&nbsp;</text>
                                                 }
                                                 else
                                                 {
                                                    <text>@Model.SalesOrder.City.Name,&nbsp;@Model.SalesOrder.State.Name&nbsp;@Model.SalesOrder.SoldToZip </text>
                                                 }
                                                }
                                            </td>
                                        </tr>

                                    </table>

                                </td>
                                <td align="right" style="padding-left:100px">
                                    <table>
                                        <tr>

                                            <td align="right">

                                                <label for="txtRetailValue">
                                                    <b>Retail Value:</b>
                                                </label>
                                            </td>
                                            <td align="left">
                                                <input type="text" id="txtRetailValue" name="txtRetailValue" readonly value="@Model.SalesOrder.RetailAmount" style="width:100px; text-align: right" />
                                                <input type="hidden" id="SSOrderId" value="@Model.SalesOrder.Id" />
                                                <input type="hidden" id="hdSoldToId" value="@Model.SalesOrder.SoldToAffiliateId" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <label>
                                                    <b>Sales Amount:</b>
                                                </label>
                                            </td>
                                            <td align="left">
                                                <input type="text" id="txtSoldAmount" name="txtSoldAmount" readonly value="@Model.SalesOrder.SoldAmount" maxlength="10" style="width:100px; text-align: right" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <label for="txtTotalPallets">
                                                    <b>Initial Percentage</b>
                                                </label>
                                            </td>
                                            <td align="left">
                                                <input type="text" id="txtPct" name="txtPct" value="15" maxlength="10" style="width:100px; text-align: right" req="true" />
                                            </td>


                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>

                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="btnAdd" value="Add Item" class="ui-button ui-widget ui-state-default ui-corner-all" />
                    <input type="hidden" id="hdSoldToAffiliateId" name="hdSoldToAffiliateId" value="@Model.SalesOrder.SoldToAffiliateId" />
                    <input type="button" id="btnChangeBuyer" name="btnChangeBuyer" value="Set/Change Buyer" class="ui-button ui-widget ui-state-default ui-corner-all" />
                    <input type="button" id="btnSell" value="Sell Order" class="ui-button ui-widget ui-state-default ui-corner-all" />
                </td>
            </tr>

            <tr>
                <td align="center">
                    <table id="jqGrid"></table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div id="pager">

                    </div>

                </td>
            </tr>
        </table>
    </div>
    <div id="dialog-buyer" title="Set Buyer Info" style="display: none;">
            <table cellpadding="3">
                <tr>
                    <td colspan="4">
                        <div id="validationSummary"  class="ValidationSummary">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="txtRecyclerName">
                            <font color='red'>*</font><b>Company :</b>
                        </label>
                        </td>
                    <td colspan="3">
                        @Html.DropDownList("ddlBuyerList", (SelectList)ViewData["BuyerList"], new { style = "width:120px", required = "Buyer is required." })
                        <input type="text" id="SoldToName" name="SoldToName" value="@Model.SalesOrder.SoldToName" req="true" required="Recycler Name is required." style="width:220px" />
                    </td>

                </tr>
                <tr>
                    <td align="right">
                        <label for="txtAddress">
                            <font color='red'>*</font><b>Address :</b>
                        </label>
                    </td>
                    <td>
                        <input type="text" id="SoldToAddress" name="SoldToAddress" value="@Model.SalesOrder.SoldToAddress" req="true" required="Address is required." style="width:120px" />
                    </td>
                    <td align="right">
                        <label for="txtState">
                            <font color='red'>*</font><b>State :</b>
                        </label>
                    </td>
                    <td>
                        @Html.DropDownList("ddlBuyerState", (SelectList)ViewData["BuyerState"], new { style = "width:125px", onchange = "GetCities(this);", required = "Buyer State is required." })
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="txtCity">
                            <font color='red'>*</font><b>City :</b>
                        </label>
                    </td>
                    <td>
                        @Html.DropDownList("ddlBuyerCity", (SelectList)ViewData["ddlBuyerCity"], new { style = "width:125px",  required = "Buyer City is required." })
                    </td>
                    <td align="right">
                        <label for="txtZip">
                            <b>Zip:</b>
                        </label>
                    </td>
                    <td>
                        <input type="text" id="SoldToZip" name="SoldToZip" value="@Model.SalesOrder.SoldToZip" maxlength="5" regexp="^(?!0{5})(\d{5})(?!-?0{4})(-?\d{4})?$"
                               regexpmesg="Invalid Zip format, Please try xxxxx." style="width:120px" />
                    </td>
                </tr>
            </table>
    </div>
    <div id="dialog-sell" title="Sell Order" style="display: none;">
            <table cellpadding="3">
                <tr>
                    <td colspan="4">
                        <div id="validationSummary2" style="width: 500px;" class="ValidationSummary">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="width: 15%">
                        <label for="txtSoldBy">
                            <font color='red'>*</font><b>Sold by:</b>
                        </label>
                    </td>
                    <td>
                        <input type="text" id="txtSoldBy" name="txtSoldBy" value="" style="width:120px" />
                    </td>
                </tr>
                <tr>
                    <td align="right" style="width: 15%">
                        <label for="txtSoldBy">
                            <font color='red'>*</font><b>Sold Date :</b>
                        </label>
                    </td>
                    <td>
                        <input type="text" id="txtSoldDate" name="txtSoldDate" value="" style="width:120px" />
                    </td>
                </tr>
            </table>
    </div>
    <script src="~/Scripts/forms/salvageSales.editshipper.js?version=1.0" type="text/javascript"></script>
    
}


