﻿@model Costco.BLL.ViewModels.SalvageSalesOrderViewModel
@{
    Layout = "~/Views/Shared/Costco.cshtml";
    <div class="admin">
    <h1 class="heading">Salvage Sales Order Id: @Model.SalesOrder.Id </h1>
        <table cellpadding="3" style="width:100%;" border="0">
            <tr>
                <td style="padding-left: 130px;" colspan="2"></td>
            </tr>
            <tr>
                <td align="left">
                    <fieldset style="width: 98%">
                        <legend><b>Sales Info</b></legend>
                        <table width="100%">
                            <tr>
                                <td width="50%">
                                    <table>
                                        <tr>
                                            <td id="tdCompany">
                                                @{ 
                                                    <text>Store: @Model.SalesOrder.Affiliate.Name</text>
                                                }

                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="tdDateSold">
                                                @{ 
                                                    <text>Sold Date: @Model.SalesOrder.DateSold.Value.ToString("dd MMM yyyy")</text>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="tdReceivedBy">
                                                @{
                                                    <text>Received By: @Model.SalesOrder.ReceivedBy </text>
                                                }
                                            </td>
                                        </tr>

                                    </table>

                                </td>
                                <td align="right" style="padding-left:100px">
                                    <table>
                                        <tr>

                                            <td align="right">

                                                <label for="txtRetailValue">
                                                    <b>Retail Value:</b>
                                                </label>
                                            </td>
                                            <td align="left">
                                                <input type="text" id="txtRetailValue" name="txtRetailValue" readonly value="@Model.SalesOrder.RetailAmount" style="width:100px; text-align: right" />
                                                <input type="hidden" id="SSOrderId" value="@Model.SalesOrder.Id" />
                                                <input type="hidden" id="hdSoldToId" value="@Model.SalesOrder.SoldToAffiliateId" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <label>
                                                    <b>Sales Amount:</b>
                                                </label>
                                            </td>
                                            <td align="left">
                                                <input type="text" id="txtSoldAmount" name="txtSoldAmount" readonly value="@Model.SalesOrder.SoldAmount" maxlength="10" style="width:100px; text-align: right" />
                                            </td>
                                        </tr>
                                        @*<tr>
                                            <td align="right">
                                                <label for="txtTotalPallets">
                                                    <b>Initial Percentage</b>
                                                </label>
                                            </td>
                                            <td align="left">
                                                <input type="text" id="txtPct" name="txtPct" value="15" maxlength="10" style="width:100px; text-align: right" req="true" />
                                            </td>


                                        </tr>*@

                                    </table>
                                </td>
                            </tr>
                        </table>

                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" id="btnUpdate" value="Receive" class="ui-button ui-widget ui-state-default ui-corner-all" />
                </td>
            </tr>

            <tr>
                <td align="center">
                    <table id="jqGrid"></table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div id="pager">

                    </div>

                </td>
            </tr>
        </table>
    </div>
    <div id="dialog-receive" title="Receive Order" style="display: none;">
            <table cellpadding="3">
                <tr>
                    <td colspan="4">
                        <div id="validationSummary" style="width: 300px;" class="ValidationSummary">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="width: 15%">
                        <label for="txtReceivedBy">
                            <font color='red'>*</font><b>Received by:</b>
                        </label>
                    </td>
                    <td>
                        <input type="text" id="txtReceivedBy" name="txtReceivedBy" value="@Model.SalesOrder.ReceivedBy" style="width:120px" />
                    </td>
                </tr>
                <tr>
                    <td align="right" style="width: 15%">
                        <label for="txtReceivedDate">
                            <font color='red'>*</font><b>Received Date :</b>
                        </label>
                    </td>
                    <td>
                        <input type="text" id="txtReceivedDate" name="txtReceivedDate" value='@(Model.SalesOrder.ReceivedDate == null ? "": Model.SalesOrder.ReceivedDate.Value.ToString("dd MMM yyyy"))' style="width:120px" />
                    </td>
                </tr>
            </table>
    </div>
    <script src="~/Scripts/forms/salvageSales.editbuyer.js?version=1.0" type="text/javascript"></script>
    
}


