﻿
@{
    Layout = "~/Views/Shared/Costco.cshtml";
    <div class="admin">
        <h1 class="heading">Salvage Sales Orders</h1>
        <table style="width:100%; margin-top: 20px;">
        <tr>
                <td align="center">
                    <br />
                    <fieldset style="width: 98%">
                    <legend><b>Search Criteria</b></legend>
                        <table style="margin-top:10px">
                            <tr>
                                <td align="right">
                                    Beginning Id:
                                </td>
                                <td align="left">
                                    <input type="text" id="txtBeginId" style="width:50px;" />
                                </td>
                                <td align="right">
                                    Ending Id:
                                </td>
                                <td>
                                    <input type="text" id="txtEndId" style="width:50px;" />
                                </td>
                                <td align="right">
                                    Beginning Date:
                                </td>
                                <td align="left">
                                    <input type="text" id="txtBeginDate" style="width:80px;" />
                                </td>
                                <td align="right">
                                    Ending Date:
                                </td>
                                <td>
                                    <input type="text" id="txtEngingDate" class="date-pick" style="width:80px;" />
                                </td>
                                <td align="right" style="padding-top: 0px; padding-left: 10px;">
                                    <input type="button" id="btnSearch" name="btnSearch" value="Search"  class="ui-button ui-widget ui-state-default ui-corner-all" />
                                </td>
                            </tr>
                        </table>
                        <br />
                    </fieldset>
                <br />
                </td>
                <td>
                </td>
            </tr>
        </table>
        <span style="color: Blue;"></span>
        <br />
        <input type="button" id="btnAdd" name="btnAdd" value="Create New Sales Order " class="ui-button ui-widget ui-state-default ui-corner-all" />
        <br />
        <br />
        <table id="jqGrid">
        </table>
        <div id="pager">
        </div>
        <div id="dialog-choice" title="Confirm Submit!" style="display: none;">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
                <span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold;
                font-size: 14px; color: #464646;">
                    You are about to create a new Sales Order.<br />
                    <br />
                    Do you want to proceed ?
                </span>
            </p>
        </div>
    </div>
    <script type="text/javascript">
        $("#hfAffiliateType").val('<%=ViewData["AffiliateType"] %>');
    </script>
    <script src="/Scripts/forms/salvageSalesorder.sellerlist.js?version=1.0" type="text/javascript"></script>
}


