﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Your Password</title>
</head>
<body>
    <div>
        <p>Your password has been succesfully reset!</p>
        <p>Your new password is: <b>@(ViewData["password"] as string)</b></p>
        <p>Please make a note of your new password, then <a href="/Account/Login">click here</a> to login to your account.</p>
        <p/>
        <p>Manufacturer's Interstate Takeback System (MITS)</p>
    </div>
</body>
</html>
