﻿<%@ Page Language="C#" MasterPageFile="~/Views/Shared/mits.master" %>

<asp:Content ID="errorContent" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
</asp:Content>
