﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/mits.master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<!--    <script type="text/javascript" src="../../Scripts/Map/FusionMaps.js"></script>
    <script type="text/javascript">
        var timeout = 500;
        var closetimer = 0;
        var ddmenuitem = 0;

        // open hidden layer
        function mopen(id) {
            // cancel close timer
            mcancelclosetime();

            // close old layer
            if (ddmenuitem) ddmenuitem.style.visibility = 'hidden';

            // get new layer and show it
            ddmenuitem = document.getElementById(id);
            ddmenuitem.style.visibility = 'visible';

        }
        // close showed layer
        function mclose() {
            if (ddmenuitem) ddmenuitem.style.visibility = 'hidden';
        }

        // go close timer
        function mclosetime() {
            closetimer = window.setTimeout(mclose, timeout);
        }

        // cancel close timer
        function mcancelclosetime() {
            if (closetimer) {
                window.clearTimeout(closetimer);
                closetimer = null;
            }
        }

        function Cancel() {
            var url = '/Affiliate/Index/';
            window.location.href = url + "?data=" + $('#data').val();
        }

        // close layer when click-out
        document.onclick = mclose; 

    </script>-->
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
    <!--<h1 class="heading" style="color:Gray"><%=ViewData["MapOwnerName"]%> Targets Map</h1>-->
    <div id="mapdiv" align="center" style="z-index: -10; padding: 10px;">
    </div>
    <!--
    <div style="margin-right: 50px; margin-top: 10px; float:right">
        <input type="hidden" id="data" name="data" value='<%= ViewData["Data"] %>' />
        <% if (ViewData["Data"] != null && ViewData["Data"].ToString() != string.Empty) { %>
            <input type="button" id="btnCancel" name="btnCancel" value="Return" class="ui-button ui-widget ui-state-default ui-corner-all" onclick="Cancel();"/>
        <% } %>
    </div>-->
    <div id="Div1" align="center">    
            <%if ((int)ViewData["AffiliateTypeId"] == 1)
              { %>
                  <iframe src="/Reports/GenericReportNoToolbar.aspx?ReportName=MapOemTargets&DisplayName=MapOemTargets&AffiliateId=<%=ViewData["SelectedAffiliateId"] %>"  width="100%" height="600px">
                        <p>Your browser does not support iframes.</p>
                  </iframe>
            <%}else
              {%>
                  <iframe src="/Reports/GenericReportNoToolbar.aspx?ReportName=MapRecyclerTargets&DisplayName=MapRecyclerTargets&AffiliateId=<%=ViewData["SelectedAffiliateId"] %>"  width="100%" height="600px">
                        <p>Your browser does not support iframes.</p>
                  </iframe>
              <%}%>                                                      
            
    </div>
    <!--<script type="text/javascript">

        var currentTime = new Date();
        var month = currentTime.getMonth()+1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var hour = currentTime.getHours();
        var minute = currentTime.getMinutes();
        var second = currentTime.getSeconds();
        time=month + "" + day + "" + year+""+hour+""+minute+""+second;

        var map = new FusionMaps("../../Content/FlashFile/Map/FCMap_USA.swf", "Map1Id", "750", "460", "0", "0");
        var affiliateID= <%=ViewData["SelectedAffiliateId"]%>;
        var url="../../Helpers/"+affiliateID+"_StatesData.xml?"+time;
        
        map.setDataURL(url);
        map.setTransparent();
        map.render("mapdiv");
    </script>-->
</asp:Content>
