
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			25em; /* left offset of submenus need to match (see below) */
	left:0;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			26.3em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			18.8em; /* match ul width */
	top:			0;
}
.current
{
	border-right:1px solid rgb(87,129,174);
	border-left:1px solid rgb(87,129,174);
	border-right:1px solid #fff;
	border-left:0px solid #fff;
	padding:0px 15px 0px 11px ;
	}
	
.currentLast
{
	border-right:1px solid rgb(87,129,174);
	border-left:1px solid rgb(87,129,174);
	border-right:0px solid #fff;
	border-left:0px solid #fff;
	padding:0px 15px 0px 11px ;
	}
/*** DEMO SKIN ***/
.sf-menu {
	margin-bottom:	0px;
	
}
.sf-menu a {
	border-left:	0px solid #fff;
	border-right:	0px solid #fff;
	border-top:		0px solid #CFDEFF;
	padding: 		9px 15px 0px 7px ;
	
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:#ffffff;
	font-weight:bold;
}
.sf-menu li li a, .sf-menu li li a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:rgb(64,96,132);
	color:#ffffff;
	font-weight:normal;
	font-size:0.9em;
}
.sf-menu li {
	color:#000000;
	z-index:1;
	
height:30px;
}	
.sf-menu li li 
{
	color:#ffffff;
	background-image:url(../../images/Menus/submenu_bg.png);
	background-image:url(../../images/Menus/bg_menu.flat.png);
	height:30px;
	background-repeat:repeat;
	border-top:0px solid rgb(87,129,174);
	border-bottom:1px solid rgb(87,129,174);
	border-right:1px solid rgb(87,129,174);
	border-left:1px solid rgb(87,129,174);
	width:290px;
}
.sf-menu li li li 
{
	color:#ffffff;
	background-image:url(../../images/Menus/bg_menu.flat.png);
	background-repeat:repeat;
	height:30px;
	border-top:0px solid rgb(87,129,174);
	border-bottom:1px solid rgb(87,129,174);
	border-right:1px solid rgb(87,129,174);
	border-left:1px solid rgb(87,129,174);
	width:220px;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		rgb(68,174,228);
	background:		#000000;
	background-image:url(../../images/Menus/bg_hover_topnav.png);
	background-repeat:repeat;
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	0.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
