﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="GenericReport2.aspx.cs" Inherits="Mits.Web.Reports.GenericReport2" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server" style="height: 100%">
    <title></title>

</head>
<body style="height:100%">
<form id="form1" runat="server" style="height: 100%">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <br />
&nbsp;<asp:TextBox ID="txtboxSql" runat="server" Height="134px" 
        TextMode="MultiLine" Width="80%">Select top 100</asp:TextBox>
    <asp:Button ID="btnExecute" runat="server" onclick="Button1_Click" 
        Text="Execute" />
&nbsp;<br />
    <asp:Label ID="Label1" runat="server"></asp:Label>
    <rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="100%"  height="1930px" >
    </rsweb:ReportViewer>   
    </form>
</body>
</html>


