﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="OEMTargetDetailReport.aspx.cs" Inherits="Mits.Web.Reports.OEMTargetDetailReport" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server" style="height: 100%">
    <title></title>
    <style type="text/css">
     input#rptviewer_ctl04_ctl13_txtValue
          {
          width: 500px;
          }
     </style>
</head>
<body style="height:100%">
<form id="form1" runat="server" style="height: 100%">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>

    <rsweb:ReportViewer ID="rptviewer" runat="server" Width="100%"  height="1930px" >
    </rsweb:ReportViewer>

       
    </form>
</body>
</html>


