body {
	font: 12px/16px Arial, Helvetica, sans-serif;
}
#fileQueue {
	width: 400px;
	height: 300px;
	overflow: auto;
	border: 1px solid #E5E5E5;
	margin-bottom: 10px;
}

.ValidationSummary{
	font-family: Arial;
	font-size: 12px;
	/*margin: 0 0 1.4ex 1em;*/
	color:Red;
}
.ValidationSummary1{
	font-family: Arial;
	font-size: 12px;
	/*margin: 0 0 1.4ex 1em;*/
	color:Red;
}
