﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Costco.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="accessContent" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
    <table>
    <tr >
    <td>
    <h3 style="color:Gray; padding-left:20px; padding-top:20px; ">
    Access Denied
    </h3>
    </td>
    </tr>
    <tr valign="top" >
    <td>    
   
   
    <p style="font-size:medium;padding-left:20px ;padding-top:50px;">
        The page you requested is restricted to authorized users only. <a href="javascript:history.go(-1);" > Go Back </a>
          
           
           
              </p> 
    <img src='<%=ResolveClientUrl("~/Content/images/access_denied.jpg")%>'  height="300" width="300" style="padding-left:200px"/>
     </td>
     </tr>

     </table>
</asp:Content>
