﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/mits.master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">


</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="head2" runat="server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
    <div style="padding-left:40px;width:640px;">
  
  <br />
    <p>E-World Online’s Public Drop-Off Locator provides  information on several different types of recycling options. For details,  please see the explanations below.</p>
    <p><strong>Preferred Vendors: </strong> E-World Online maintains a network of processors recyclers and drop off  locations across the nation. These businesses process materials for our  corporate sponsor / partners in accordance with state regulations.</p>
    <p><strong>Consumer Information:</strong> This is a list provided as a courtesy and convenience for the  general public and is intended for information and consumer education purposes  only. E-World Online is not associated with these facilities and we encourage  you to call them directly for the details of their recycling programs. E-World  Online does not warrant or make any guarantee regarding price, procedure, or  general information pertaining to these locations. </p>
  
  </div>
  <iframe src="http://www.earth911.com" width="980" height="600" scrolling="no" frameborder="0" marginwidth="10"style="background-color:#BABABA;"></iframe>

</asp:Content>


