﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/mits.master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <h2></h2>

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="head2" runat="server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder" runat="server">

<h2 class="title" id="p1">OEM Retail Credit Program</h2>
		<div id="page-bgtop">
        
        <div id="page-bgbtm">
<div id="content">
					<div class="post">
                   


    <div class="entry">
        <p>Some text here.</p>
    </div>
    <div class="entry">
    </div>
    <div class="entry">
    </div>
    <div class="entry">
      <p><a href="/Content/Download/Reuse_Refurbish_Credit_Qualification_by_State.docx">Reuse Refurbish Credit Qualification by State.docx</a>.&nbsp; </p>
      <p><a href="/Content/Download/NJ2011OEMRetailerCredit.xls">NJ 2011 OEM Retailer Credit</a>.&nbsp; </p>
    </div>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				 <div id="sidebar">
				   <div class="twitter">
                               <h2 >
                                <a href="http://twitter.com/#!/EWorldOnline"> E-World on Twitter</a>     </h2>
</div>
<!--div class="facebook">
                               <h2>
                                   E-World on Facebook                            </h2>
</div-->
                       
              </div>

				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
</asp:Content>


