﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/mits.master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <h2></h2>

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="head2" runat="server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
<div class="rs">
<h2 class="title">Retail Return Program</h2>
		<div id="page-bgtop">
        
        <div id="page-bgbtm">
<div id="content">
    <div class="post">
    <div class="entry">
        <p>Some text here</p>
    </div>
    <div class="entry">
    <p>Some more test here </p>
        </div>
    <div class="entry">
        <p>Some more text here</p>
	</div>
    <div class="entry">
      <p>For more information <a href="/Home/SharedRes"> click here</a>.&nbsp; </p>
    </div>
	</div>
	<div style="clear: both;">&nbsp;</div>
</div>
				<!-- end #content -->
<div id="sidebar">
	<div class="twitter">
        <h2 ><a href="http://twitter.com/#!/EWorldOnline"> E-World on Twitter</a>     </h2>
    </div>
</div>
<div style="clear: both;">&nbsp;</div>
</div>
</div>
</div>
</asp:Content>


