﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    
    <title>Costco - RTV</title>
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link rel="SHORTCUT ICON" href="/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="<%=ResolveUrl("~/Content/css/general.css")%>"  />
    <link rel="Stylesheet" type="text/css" href="<%=ResolveUrl("~/Content/css/cupertino/jquery-ui-1.10.2.custom.css")%>" />
    <link rel="Stylesheet" type="text/css" href=" <%=ResolveUrl("~/Content/jquery.jqGrid/ui.jqgrid.css")%>" />
    <link rel="Stylesheet" type="text/css" href=" <%=ResolveUrl("~/Content/css/uploadify.css")%>" />


    <!--<link rel="stylesheet" type="text/css" href="<%=ResolveUrl("~/Content/css/general.css")%>"  />-->
    <!--<link rel="Stylesheet" type="text/css" href="<%=ResolveUrl("~/Content/css/cupertino/jquery-ui-1.8.2.custom.css")%>" />-->
    <!--<link rel="Stylesheet" type="text/css" href=" <%=ResolveUrl("~/Content/css/ui.jqgrid.css")%>" />-->
    <!--<link rel="Stylesheet" type="text/css" href=" <%=ResolveUrl("~/Content/css/uploadify.css")%>" />-->


    <script src='<%=ResolveClientUrl("~/Scripts/jquery-1.11.0.min.js")%>' type="text/javascript"></script>
    <script src='<%=ResolveClientUrl("~/Scripts/jquery-ui-1.10.2.custom.min.js")%>' type="text/javascript"></script>
    <script src='<%=ResolveClientUrl("~/Scripts/jquery.validate.js")%>' type="text/javascript"></script>
    <script src='<%=ResolveClientUrl("~/Scripts/i18n/grid.locale-en.js")%>' type="text/javascript"></script>
    <script src='<%=ResolveClientUrl("~/Scripts/jquery.jqGrid.min.js")%>' type="text/javascript"></script>
    <script src='<%=ResolveClientUrl("~/Scripts/ui.dropdownchecklist.js")%>' type="text/javascript"></script>
    <script src='<%=ResolveClientUrl("~/Scripts/jquery.fillSelect.js")%>' type="text/javascript"></script>

    <!--<script src='<%=ResolveClientUrl("~/Scripts/js/jquery-1.4.4.min.js")%>' type="text/javascript"></script>-->
    <!--<script src='<%=ResolveClientUrl("~/Scripts/js/jquery-ui-1.8.4.custom.min.js")%>' type="text/javascript"></script>-->
    <!--<script src='<%=ResolveClientUrl("~/Scripts/js/jquery.validate.js")%>' type="text/javascript"></script>-->
    <!--<script src='<%=ResolveClientUrl("~/Scripts/js/grid.locale-en.js")%>' type="text/javascript"></script>-->
    <!--<script src='<%=ResolveClientUrl("~/Scripts/js/jquery.jqGrid.min.js")%>' type="text/javascript"></script>-->

    
    <!-- Unknown as to what the folloing does, commented out until someone notices something -->
    <!--<link rel="Stylesheet" type="text/css" href=" <%=ResolveUrl("~/Content/css/jquery.multiSelect.css")%>" />-->
    <!--<link rel="Stylesheet" type="text/css" href=" <%=ResolveUrl("~/Content/highlighter/styles/shCore.css")%>" />-->
    <!--<link rel="Stylesheet" type="text/css" href=" <%=ResolveUrl("~/Content/highlighter/styles/shThemeDefault.css")%>" />-->

    <!--<script src='<%=ResolveClientUrl("~/Scripts/js/grid.subgrid.js")%>' type="text/javascript"></script> -->
    <!--<script src='<%=ResolveClientUrl("~/Scripts/js/jquery.multiSelect.js")%>' type="text/javascript"></script>-->
    <!--<script language="javascript" src='<%=ResolveClientUrl("~/Scripts/gen/general.js")%>' type="text/javascript"></script>-->
    <!--<script src='<%=ResolveClientUrl("~/Scripts/highlighter/scripts/shCore.js")%>' type="text/javascript"></script>-->
    <!--<script src='<%=ResolveClientUrl("~/Scripts/highlighter/scripts/shBrushJScript.js")%>' type="text/javascript"></script>-->
    <!--<script src='<%=ResolveClientUrl("~/Scripts/highlighter/scripts/shBrushCss.js")%>' type="text/javascript"></script>-->
    <!--<script src='<%=ResolveClientUrl("~/Scripts/js/jquery.tree.js")%>' type="text/javascript"></script>-->


<%--    <%="<script type=\"text/javascript\">var reportServer = '" + ConfigurationManager.AppSettings["ReportServerURL"]+ "';</script>" %>--%>
    <!-- **************************************************** Menus JS - Start *********************************************-->

    <link rel="stylesheet" type="text/css" href="/Content/css/Menus/superfish.css" media="screen" />
    <link href="<%=ResolveUrl("~/Content/css/style.css")%>" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/Scripts/hoverIntent.js"></script>
    <script type="text/javascript" src="/Scripts/superfish.js"></script>
    <script type="text/javascript" src="/Scripts/Menus.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="../../Content/css/Menus/superfish.css" media="screen" />-->
    <!--<link href="<%=ResolveUrl("~/Content/css/style.css")%>" rel="stylesheet" type="text/css" />-->
    <!--<script type="text/javascript" src="../../Scripts/Menus/hoverIntent.js"></script>-->
    <!--<script type="text/javascript" src="../../Scripts/Menus/superfish.js"></script>-->
    <!--<script type="text/javascript" src="../../Scripts/Menus/Menus.js"></script>-->

    <!-- **************************************************** Menus JS - End *********************************************-->
    <script type="text/javascript">

        jQuery(document).ready(function () {
            var reportWdith = $(window).width();
            var reportHeight = $(window).height(); // -screen.height * 0.01;
            //reportHeight = 2100;

            //var pageHeight = $("#page").height();
            //var pageWidth = $("#page").width();

            $("#reportViewer").dialog({ title: '', autoOpen: false, modal: true,
                //height: 850,
                //width: 1200,
                height: reportHeight,
                width: reportWdith,
                //position: 'center',
                autoReposition: true,
                resizable: true,
                close: function () {
                    var oIFrm = document.getElementById('reportFrame');
                    oIFrm.src = '';
                }
            });

            $(window).resize(function () {
                var minReportHeight = $("#page").height();
                var reportHeight = $(window).height();

                var minReportWidth = $("#page").width();
                var reportWidth = $(window).width();

                //$("#reportViewer").dialog("option", "minHeight", minReportHeight);
                $("#reportViewer").dialog("option", "height", reportHeight);
                //$("#reportViewer").dialog("option", "minWidth", minReportWidth);
                $("#reportViewer").dialog("option", "width", reportWidth);
                $("#reportViewer").dialog('option', 'position', 'top');
            });

            $(window).scroll(function () {
                $("#reportViewer").dialog('option', 'position', 'top');
            });

        });

        function showReport(reportURL, reportName) {
            var minReportHeight = $("#page").height();
            var reportHeight = $(window).height();

            var minReportWidth = $("#page").width();
            var reportWidth = $(window).width();


            //$("#reportViewer").dialog("option", "minHeight", minReportHeight);
            $("#reportViewer").dialog("option", "height", reportHeight);
            //$("#reportViewer").dialog("option", "minWidth", minReportWidth);
            $("#reportViewer").dialog("option", "width", reportWidth);
            $("#reportViewer").dialog('option', 'position', 'top');



            //alert(pageHeight.toString() + " " + pageWidth.toString());
            var rootPath = window.location.protocol + "//" + window.location.host;
            //var url = rootPath + '/MITSApplication/GetReportsRights';
            //alert(url);
            $.ajax({
                url: rootPath + '/CostcoApplication/GetReportsRights/',
                dataType: 'json',
                type: "POST",
                data: { reportName: reportName },
                async: false,
                success: function (result) {
                    if (result == true) {
                        var oIFrm = document.getElementById('reportFrame');
                        oIFrm.src = reportURL;
                        $('#reportViewer').dialog('open');
                    } else {
                        window.location.href = '/Home/AccessDenied';
                    }
                }
            });

        }

        function Logout() {
            var rootPath = window.location.protocol + "//" + window.location.host;
            var url = rootPath + '/Account/Logout/';
            window.location.href = url;
        }
        function GetUserAccessRights(reportURL, reportName) {
            alert(reportName);
            var rootPath = window.location.protocol + "//" + window.location.host;
            //var url = rootPath + '/MITSApplication/GetReportsRights';
            //alert(url);
            $.ajax({
                url: rootPath + '/MITSApplication/GetReportsRights/',
                dataType: 'json',
                type: "POST",
                data: { reportName: reportName },
                async: false,
                success: function (result) {
                    alert(result);
                    //                    var oIFrm = document.getElementById('reportFrame');
                    //                    oIFrm.src = reportURL;
                    //                    $('#reportViewer').dialog('open');
                }
            });
        }
    </script>
        <asp:ContentPlaceHolder ID="head2" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <% using (Html.BeginForm())
       {%>
        <div id="wrapper">
        <div id="header">
            <div id="logo">
                <h1>
                    <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="">
                        <img src="<%=ResolveClientUrl("~/Content/images/logo.png")%>" alt="RRP" height="85" border="0" /></asp:HyperLink>
                </h1>
            </div>
            <div id="search">

             <%if ((string)ViewData["AffiliateContactName"] != "-1")
                             { %>
                            <font style="font-size: 11pt; text-decoration: none;">Welcome
                                <% =ViewData["AffiliateContactName"]%>
                                | </font><a onclick="javascript:Logout()" style="font-size: 11pt; cursor: hand; color:#FF9900;text-decoration:none;_text-decoration:none;"
                                    href="#">Logout</a>&nbsp;&nbsp;
                            <%}
                              else
                              {%>
                              <p></p>
                            <a href="/Account/Login" target="_self" style="font-size: 11pt; cursor: hand; color:#FF9900;text-decoration:none;_text-decoration:none;">
                                Login</a>
                                <!--<img src="../../Content/images/Login/btn_login.png" alt="login" width="107" height="35" border="0" />-->
                            <%} %>
             </div>
            </div>
        <!-- end #header -->
        <%=ViewData["MenuHTML"] %>

          <div id="page">
           <asp:ContentPlaceHolder ID="ContentPlaceHolder" runat="server">
           </asp:ContentPlaceHolder>
          </div>
          <div id="footer">
        <p>Copyright (c) 2010 E-WORLD RECYCLERS All Rights Reserved</p>
        <p style="text-transform:none; padding:10px; font-size: 11px" >For a better visual effect, it is recommended that you browse our website using Internet Explorer 8.0</p>
    </div>
    <!-- end #footer --></div>


    <div id="reportViewer" class="reportHeight">
        <iframe id="reportFrame" name="reportFrame" scrolling="yes" src="" frameborder="1"
            width="100%" height="98%"></iframe>
    </div>
    <%--</form>--%>
    <%} %>
    <script language="javascript" type="text/javascript">
        //docLoad(); //loads the doc handlers
    </script>
</body>
</html>
