﻿
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta name="viewport" content="width=device-width" />
    <title>Costco - RTV</title>
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link rel="SHORTCUT ICON" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/Content/css/general.css"  />
    <link rel="Stylesheet" type="text/css" href="/Content/css/cupertino/jquery-ui-1.10.2.custom.css" />
    <link rel="Stylesheet" type="text/css" href="/Content/jquery.jqGrid/ui.jqgrid.css" />
    <link rel="Stylesheet" type="text/css" href="/Content/css/uploadify.css" />

    <script src="/Scripts/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="/Scripts/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="/Scripts/ui.dropdownchecklist.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.fillSelect.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/Content/css/Menus/superfish.css" media="screen" />
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/Scripts/hoverIntent.js"></script>
    <script type="text/javascript" src="/Scripts/superfish.js"></script>
    <script type="text/javascript" src="/Scripts/Menus.js"></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {
            var reportWdith = $(window).width(); -screen.width * 0.10;
            var reportHeight = 2.0 * screen.height; // -screen.height * 0.01;
            reportHeight = 2100;

            $("#reportViewer").dialog({
                title: '', autoOpen: false, modal: true,
                //height: 850,
                //width: 1200,
                height: reportHeight,
                width: reportWdith,
                position: 'center',
                resizable: true,
                close: function () {


                    var oIFrm = document.getElementById('reportFrame');
                    oIFrm.src = '';
                }
            });
            $(window).resize(function () {
                var minReportHeight = $("#page").height();
                var reportHeight = $(window).height();

                var minReportWidth = $("#page").width();
                var reportWidth = $(window).width();

                //$("#reportViewer").dialog("option", "minHeight", minReportHeight);
                $("#reportViewer").dialog("option", "height", reportHeight);
                //$("#reportViewer").dialog("option", "minWidth", minReportWidth);
                $("#reportViewer").dialog("option", "width", reportWidth);
                $("#reportViewer").dialog('option', 'position', 'top');
            });

            $(window).scroll(function () {
                $("#reportViewer").dialog('option', 'position', 'top');
            });
        });

        function showReport(reportURL, reportName) {
            var minReportHeight = $("#page").height();
            var reportHeight = $(window).height();

            var minReportWidth = $("#page").width();
            var reportWidth = $(window).width();


            //$("#reportViewer").dialog("option", "minHeight", minReportHeight);
            $("#reportViewer").dialog("option", "height", reportHeight);
            //$("#reportViewer").dialog("option", "minWidth", minReportWidth);
            $("#reportViewer").dialog("option", "width", reportWidth);
            $("#reportViewer").dialog('option', 'position', 'top');

            var rootPath = window.location.protocol + "//" + window.location.host;
            //var url = rootPath + '/MITSApplication/GetReportsRights';
            //alert(url);
            $.ajax({
                url: rootPath + '/CostcoApplication/GetReportsRights/',
                dataType: 'json',
                type: "POST",
                data: { reportName: reportName },
                async: false,
                success: function (result) {
                    if (result == true) {
                        var oIFrm = document.getElementById('reportFrame');
                        oIFrm.src = reportURL;
                        $('#reportViewer').dialog('open');
                    } else {
                        window.location.href = '/Home/AccessDenied';
                    }
                }
            });

        }

        function Logout() {
            var rootPath = window.location.protocol + "//" + window.location.host;
            var url = rootPath + '/Account/Logout/';
            window.location.href = url;
        }
        function GetUserAccessRights(reportURL, reportName) {
            alert(reportName);
            var rootPath = window.location.protocol + "//" + window.location.host;
            //var url = rootPath + '/MITSApplication/GetReportsRights';
            //alert(url);
            $.ajax({
                url: rootPath + '/MITSApplication/GetReportsRights/',
                dataType: 'json',
                type: "POST",
                data: { reportName: reportName },
                async: false,
                success: function (result) {
                    alert(result);
                    //                    var oIFrm = document.getElementById('reportFrame');
                    //                    oIFrm.src = reportURL;
                    //                    $('#reportViewer').dialog('open');
                }
            });
        }
    </script>
</head>
<body>
    @using (Html.BeginForm())
{
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <h1>
                    <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="">
                        <img src="~/Content/images/logo.png" alt="RRP" height="85" border="0" />
                    </asp:HyperLink>
                </h1>
            </div>
            <div id="search">
                @if ((string)ViewData["AffiliateContactName"] != "-1")
                {
                <font style="font-size: 11pt; text-decoration: none;">
                    Welcome @ViewData["AffiliateContactName"]
                </font>
                    <a onclick="javascript:Logout()" style="font-size: 11pt; color:#FF9900;text-decoration:none;_text-decoration:none;"
                       href="#">Logout</a>
                }

                else
                {
                    <p></p>
                    <a href="/Account/Login" target="_self" style="font-size: 11pt;  color:#FF9900;text-decoration:none;_text-decoration:none;">
                        Login
                    </a>
                }

            </div>
        </div>
        <!-- end #header -->
        @Html.Raw( @ViewData["MenuHTML"])
        <div id="page">
            @RenderBody()
        </div>
        <div id="footer">
            <p>Copyright (c) 2010 E-WORLD RECYCLERS All Rights Reserved</p>
            <p style="text-transform:none; padding:10px; font-size: 11px">For a better visual effect, it is recommended that you browse our website using Internet Explorer 9.0</p>
        </div>
        <div id="reportViewer" class="reportHeight">
            <iframe id="reportFrame" name="reportFrame" scrolling="no" src="" frameborder="1" width="100%" height="98%"></iframe>
        </div>

  
    </div>
}
    
</body>
</html>
